<!--Calling the title-->
{% extends 'base.html' %}

<!--Inherting title from parent-->
{% block title %}Home Page{% endblock %}

<!--Inherting header from parent-->
{% block head %}
    
{% endblock %}

<!--Inherting body/content from parent-->
{% block content %}
    <!--Heading-->
    <div id="heading">
        <h1>Get To Work!</h1>
    </div>

    <!--TABLE-->
    <div id="adduser">
        <h2>Add Task</h2>
        <form action="/add_task" method="POST">
            <div class="form-group">
                <label for="form1">Enter Task:</label>
                <input type="text" name="task_text" id="form1" placeholder="Enter Task" required>
            </div>
            <!--drop down priority selection-->
            <div class="form-group">
                <label for="form2">Priority:</label>
                <select name="priority_text" id="form2" required>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
            </div>

            <div class="form-group">
                <label for="form3">Due Date:</label>
                <input  type="date" name="due_date_text" id="form3" required>
            </div>
            <button type="submit">Add Task</button>
        </form>
    </div>

    <div id="usertable">
        <h2>Your Tasks</h2>
        <table>
            <tr>
                <th>Tasks</th>
                <th>Priority</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
            <!--for loop to print out the table data for each task in tasks-->
            {% for task in tasks %}
            <tr>
                <td>{{task[1]}}</td>
                <td>{{task[2]}}</td>
                <td>{{task[3]}}</td>
                <td>
                    <a href="{{ url_for('edit_task', id=task['id']) }}">Edit</a>
                    
                    <a href="{{ url_for('delete_task', id=task['id']) }}" class="delete-link">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}