<!--Calling the title-->
{% extends 'base.html' %}

{% block title %}Edit Task{% endblock %}

{% block head %}    {% endblock %}

{% block content %}
    <div id="heading">
        <h2>Edit Task</h2>
    </div>
    <div id="edit">
        <form action="/edit_task/{{ task['id'] }}" method="POST">
            <div class="form-group">
                <label for="form4">Edit Task:</label>
                <input type="text" name="new_task" id="form4" value="{{task[task]}}" placeholder="Enter new Task">
            </div>

            <div class="form-group">
                <label for="form5">Priority:</label>
                <select name="new_priority" id="form5">
                    <option value="High"   {% if task['priority'] == 'High'   %}selected{% endif %}>High</option>
                    <option value="Medium" {% if task['priority'] == 'Medium' %}selected{% endif %}>Medium</option>
                    <option value="Low"    {% if task['priority'] == 'Low'    %}selected{% endif %}>Low</option>
                </select>
            </div>

            <div class="form-group">
                <label for="form6">Due Date:</label>
                <input type="date" name="new_due_date" id="form6" value="{{task['due']}}">
            </div>
            <button type="submit">Edit</button>
            <a href="{{ url_for('index') }}">Cancel</a>
        </form>
    </div>    
{% endblock %}